<!DOCTYPE html>

<html>

<head>
<title>My Appointments</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<style>

body{
background:#f4f7fb;
font-family:'Segoe UI';
}

.container-box{
width:900px;
margin:auto;
margin-top:60px;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 6px 15px rgba(0,0,0,0.1);
}

</style>

</head>

<body>

<div class="container-box">

<h3 class="mb-4">My Appointments</h3>

<table class="table table-striped">

<tr>
<th>Doctor</th>
<th>Date</th>
<th>Time</th>
<th>Problem</th>
</tr>

{% for a in appointments %}

<tr>
<td>{{a[0]}}</td>
<td>{{a[1]}}</td>
<td>{{a[2]}}</td>
<td>{{a[3]}}</td>
</tr>

{% endfor %}

</table>

<a href="/dashboard/{{username}}" class="btn btn-primary">
Back to Dashboard
</a>

</div>

</body>

</html>
